{{- range . }}
{{ $shortname := slice .Name 0 2 | ToLower }}

type {{.Name}} struct {
	{{.Pkg}}.{{.Name}}
}

func New{{.Name}}(name string) *{{.Name}} {
	{{$shortname}} := &{{.Name}}{}
	{{$shortname}}.ObjectMeta.Name = name
	return {{$shortname}}
}

func ({{$shortname}} *{{.Name}}) WithLabels(labels map[string]string) *{{.Name}} {
	if {{$shortname}}.ObjectMeta.Labels == nil {
		{{$shortname}}.ObjectMeta.Labels = map[string]string{}
	}
	for k,v := range labels {
		{{$shortname}}.ObjectMeta.Labels[k] = v
	}
}

func ({{$shortname}} *{{.Name}}) WithAnnotations(annotations map[string]string) *{{.Name}} {
	if {{$shortname}}.ObjectMeta.Annotations == nil {
		{{$shortname}}.ObjectMeta.Annotations = map[string]string{}
	}
	for k,v := range annotations {
		{{$shortname}}.ObjectMeta.Annotations[k] = v
	}
}
{{ end -}}
